DirectoryIndex index.php
RewriteEngine On
RewriteBase /

# إذا كان الملف موجوداً، لا تفعل شيئاً
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# أي طلب آخر يمر عبر index.php الرئيسي
RewriteRule ^(.*)$ index.php [L]
